### 외부 API를 활용한 데이터 수집 및 가공 평가

##### 1. 키보드로 두 수를 입력받아 큰 수부터 출력하는 프로그램을 작성하시요. 단, 입력받는 두 수는 중복이 없다고 가정한다.

In [116]:
# 1번 문제 답안 작성

num1 = []

for i in range(2) :
    num2 = int(input(f'{i + 1}번째 수 : '))
    num1.append(num2)

print('큰 값 : ', max(num1) , '작은 값 :', min(num1) )

큰 값 :  30 작은 값 : 20

##### 2. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오.<br> 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오. (10점)

In [117]:
# 2번 문제 답안 작성

num1 = []

for i in range(3) :
    num2 = int(input(f'{i + 1}번째 값 : '))
    num1.append(num2)

print(num1)
print(max(num1) - min(num1))

[10, 20, 30]
20

##### 3. 매개변수로 두 정수를 받아, 두 정수 사이의(두 정수 포함) 모든 정수를 갖는 리스트를 리턴하는 함수를 구현하시오.

In [118]:
# 3번 문제 답안 작성
list1 = []

def get_sum(a,b) :
    for i in range(min(a,b),max(a,b)+1) :
        list1.append(i)
    return list1

print(get_sum(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##### 다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [1]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

##### 4. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [119]:
# 4번 문제 답안 작성

pop_max = 0
pop_key = ''

for i in population :
    if i != '행정기관' :
        # print(f'{i} : {int(sum(population[i]))}')
        if pop_max < sum(population[i]) :
            pop_max = sum(population[i])
            pop_key = i

print('인구가 가장 많은 연령대 : ', pop_key)

인구가 가장 많은 연령대 :  15~19세

##### 5. '총 인구수' 라는 키를 추가하고, 해당 키에 1세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [120]:
# 5번 문제 답안 작성

result_list = []

# 0 ~ 4 
for i in range(len(population['행정기관'])) :
    sum1 = 0
    for sum2 in population :
        if sum2 != '행정기관' :
            sum1 = sum1 + population[sum2][i]
    result_list.append(sum1)
    
population['총 인구 수'] = result_list

population

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
 '0~4세': [214651, 68006, 53515, 69453, 29835],
 '5~9세': [210833, 68704, 58332, 68555, 29331],
 '10~14세': [269171, 94802, 91268, 86574, 29035],
 '15~19세': [335828, 124564, 101110, 106435, 49119],
 '20~24세': [343797, 125907, 96078, 102297, 43937],
 '총 인구 수': [1374280, 481983, 400303, 433314, 181257]}

##### 다음의 인구 데이터를 DataFrame으로 변환한 내용이다. 아래 내용을 참고하여 문제를 해결하시오.

In [67]:
# 판다스 라이브러리 임포트
import pandas as pd
import numpy as np

# 데이터프레임 생성
df = pd.DataFrame(population)

# 행정기관을 인덱스로 지정
df.index = df['행정기관']

# 컬럼에서 행정기관을 제거
df.drop(['행정기관'], axis=1, inplace=True)

df

         0~4세    5~9세  10~14세  15~19세  20~24세
행정기관
서울특별시  214651  210833  269171  335828  343797
부산광역시   68006   68704   94802  124564  125907
대구광역시   53515   58332   91268  101110   96078
인천광역시   69453   68555   86574  106435  102297
울산광역시   29835   29331   29035   49119   43937

##### 6. 서울특별시, 대구광역시, 울산광역시의 5~9세, 10~14세, 15~19세의 인구수를 조회하시오.

In [84]:
# 6번 문제 답안 작성

# df.loc[['서울특별시', '대구광역시', '울산광역시'], ['5~9세', '10~14세','15~19세']]

df.iloc[[0,2,4],[1,2,3]]

         5~9세  10~14세  15~19세
행정기관
서울특별시  210833  269171  335828
대구광역시   58332   91268  101110
울산광역시   29331   29035   49119

##### 7. '총 인구수' 컬럼을 추가하고 인구수의 합을 데이터로 추가하시오.

In [102]:
# 7번 문제 답안 작성

df['총 인구수'] = df.loc[:, '0~4세':'20~24세'].sum(axis=1)

df

         0~4세    5~9세  10~14세  15~19세  20~24세    총 인구수
행정기관
서울특별시  214651  210833  269171  335828  343797  1374280
부산광역시   68006   68704   94802  124564  125907   481983
대구광역시   53515   58332   91268  101110   96078   400303
인천광역시   69453   68555   86574  106435  102297   433314
울산광역시   29835   29331   29035   49119   43937   181257

##### 8. 20~24세의 인구수가 100,000에서 200,000사이인 데이터를 조회하시오.

In [115]:
# 8번 문제 답안 작성

df[(df['20~24세'] > 100000) & (df['20~24세'] < 200000)]

        0~4세   5~9세  10~14세  15~19세  20~24세   총 인구수
행정기관
부산광역시  68006  68704   94802  124564  125907  481983
인천광역시  69453  68555   86574  106435  102297  433314