In [2]:
import pymysql
import pandas
import pandas as pd

In [8]:
# 파일의 디비 연결
conn = pymysql.connect(host='localhost', user='studyroom',password='studyroom', db='studyroom', charset='utf8')

In [ ]:
# 디비에 테이블 만들기(한번만 실행)
# cursor=conn.cursor(pymysql.cursors.DictCursor)
# sql='CREATE TABLE MAP(SERIAL_NO VARCHAR(15) not null primary key, STATION_NAME VARCHAR(20) not null, LAT DOUBLE default 37.000, LON DOUBLE default 126.000)'
# cursor.execute(sql)

In [9]:
# 엑셀파일 불러와서 컬럼명 변경 및 추출
df=pd.read_excel('test.xlsx', index_col=False)
df.columns=[['SERIAL_NO','STATION_NAME','LAT','LON', 'REG_DATE','CUSTOMER']]
df=df[['SERIAL_NO','STATION_NAME','LAT','LON']]
df

       SERIAL_NO STATION_NAME      LAT       LON
0   ICW0W2000248   방배4동 작은도서관  37.4889  126.9923
1   ICW0W2000262     서초동물사랑센터  37.4764  127.0381
2   ICW0W2000263   삼호3차가온어린이집  37.4977  126.9868
3   ICW0W2000275      서리풀문화광장  37.4904  127.0048
4   ICW0W2000285   방배2동주민센터민원  37.4798  126.9856
..           ...          ...      ...       ...
82   V01T1623121      서초2동경로당  37.4880  127.0309
83   V01T1623123       잠원동경로당  37.5179  127.0173
84   V01T1623127      홍씨마을경로당  37.4530  127.0656
85   V01T1623129     서초엄마힐링센터  37.4535  127.0598
86   V01T1623130      반포반딧불센터  37.5098  127.0185

[87 rows x 4 columns]

In [10]:
# 쿼리의 결과 및 실행되고 있는 위치 정보 포함
cursor=conn.cursor(pymysql.cursors.DictCursor)

In [11]:
# 첫 줄 확인용
tuple(df.values[0])

('ICW0W2000248', '방배4동 작은도서관', 37.4889, 126.9923)

In [13]:
# DB에 데이터 insert(한번만 하면됨)
for idx in range(len(df)):
    sql=f'INSERT INTO MAP VALUES {tuple(df.values[idx])}'
    cursor.execute(sql)

conn.commit()

IntegrityError: (1062, "Duplicate entry 'ICW0W2000248' for key 'PRIMARY'")

In [14]:
conn.close()